<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.mapkittest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />



    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".YandexMapKitSampleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".defaultoverlay.DefaultOverlayActivity"
            android:label="@string/sample1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".balloonoverlay.BalloonOverlayActivity"
            android:label="@string/sample2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".balloonoverlay.one.BalloonOverlayActivity"
            android:label="@string/sample2one" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".balloonoverlay.two.BalloonOverlayActivity"
            android:label="@string/sample2two" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customoverlay.CustomOverlayActivity"
            android:label="@string/sample3" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".draggableoverlay.DraggableOverlayActivity"
            android:label="@string/sample4" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jams.JamsActivity"
            android:label="@string/sample5" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".maplayers.MapLayersActivity"
            android:label="@string/sample6" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".maphd.MapHDTilesActivity"
            android:label="@string/sample7" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mapevent.MapEventActivity"
            android:label="@string/sample8" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scrollview.MapScrollViewActivity"
            android:label="@string/sample9" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".listview.MapListViewActivity"
            android:label="@string/sample10" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mylocation.MapMyLocationChangeActivity"
            android:label="@string/sample11" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".path.MapPathActivity"
            android:label="@string/sample12" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".geocode.MapGeoCodeActivity"
            android:label="@string/sample13" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        
        
          <activity
            android:name=".zoomspan.ZoomSpanActivity"
            android:label="@string/sample14" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="yandex.intent.category.MAPKIT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".balloonoverlay.InfoActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>